/* Estilo geral do container */
.container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 950px;
    margin: 0 auto 10px auto; /* Centraliza o container */
    box-shadow: 0 0 0 3px rgb(38, 72, 160);
    transition: transform 0.6s ease-in-out;
  }
  
  .container:hover {
    transform: scale(1.03); /* Efeito hover */
  }
  
  /* Estilo do título principal */
  .titulo-container {
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    background-color: rgb(97, 138, 214);
    border-radius: 15px;
    padding: 10px;
    width: 35%;
    max-width: 950px;
    box-shadow: 0 10px #ffffff;
    margin: 30px auto 50px auto;
   
  }
  
  
  /* Estilo da introdução (h4) */
  h4 {
    text-align: center;
    font-size: 24px;
    color: rgb(245, 244, 244);
    font-weight: 600;
    text-shadow: 0 2px rgb(46, 46, 46);
    margin-bottom: 40px;
    margin-top: 25px;
  }
  
  /* Estilo do gráfico */
  .grafico-container {
    border-radius: 15px;
  padding: 10px;
  width: 65%;
  max-width: 1000px;
  margin-bottom: 50px;
  box-shadow: 0 10px #ffffff;
  margin: 30px auto 50px auto;
  }
  
  .grafico-imagem {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Estilo da explicação */
  .explicacao-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .explicacao-container p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
  }
  